@if (!isLoginPage)
{
    <div class="top-row ps-3 navbar navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="">MoneyTrail</a>
        </div>
    </div>

    <input type="checkbox" title="Navigation menu" class="navbar-toggler" />

    <div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
        <nav class="flex-column">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="dashboard" Match="NavLinkMatch.All">
                    <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Dashboard
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="transactions">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Transaction History
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="credit-list">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Credit List
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="debit-list">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Debit List
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="debt-list">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Debt List
                </NavLink>
            </div>

        </nav>
    </div>
}



